- name: FTP Deploy to cPanel
  uses: SamKirkland/FTP-Deploy-Action@v4.3.5
  with:
    server: ${{ secrets.FTP_SERVER }}
    username: ${{ secrets.FTP_USERNAME }}
    password: ${{ secrets.FTP_PASSWORD }}
    protocol: ftps
    port: 21
    server-dir: /public_html/configurator/
    dangerous-clean-slate: false
    exclude: |
      **/.git*
      **/.github/**
      **/node_modules/**
      **/.DS_Store
